[submodule "externals/jquery"]
	path = externals/jquery
	url = git@github.com:horninc/jquery-js-as-submodule.git
[submodule "externals/jquery-migrate"]
	path = externals/jquery-migrate
	url = git@github.com:appleboy/jquery-migrate.git
[submodule "externals/jquery-ui"]
	path = externals/jquery-ui
	url = git@github.com:components/jqueryui.git
[submodule "externals/datatables"]
	path = externals/datatables
	url = git@github.com:DataTables/DataTables.git
[submodule "externals/jquery-timepicker"]
	path = externals/jquery-timepicker
	url = git@github.com:perifer/timePicker.git
[submodule "externals/jquery-insertatcaret"]
	path = externals/jquery-insertatcaret
	url = git@github.com:nkm/jQuery-insertAtCaret.git
[submodule "externals/datatables-columnfilter"]
	path = externals/datatables-columnfilter
	url = git@github.com:tduchateau/jquery-datatables-column-filter.git
[submodule "externals/jquery-querystring"]
	path = externals/jquery-querystring
	url = git@github.com:schwartzrw/jquery-querystring.git
[submodule "externals/fullcalendar"]
	path = externals/fullcalendar
	url = git@github.com:arshaw/fullcalendar-component.git
