<!--

body {
	background-color: #EBEFF5;
}

div#parent {
	background: none repeat scroll 0 0 #FFFFFF;
	margin: auto;
	max-width: 1000px;
}

div#header {
	background-image: url("../images/header_uzk.png");
	background-repeat: no-repeat;
	padding-bottom: 85px;
	position: relative;
}

/*** Imported START ***/
body, input, textarea {
	color: #373737;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 13px;
	line-height: 20px;
}

div#header div.hgroup {
    height:125px;
	margin: 0 7.6%;
}

#site-title {
	height: 28px;
	overflow: hidden;
	padding: 26px 0 0 50px;
}

#site-title a {
	color: #41799E;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
	text-decoration: none;
}

#site-description {
	color: #41799E;
	font-size: 14px;
	margin: 0 270px 31px 0;
	padding: 0 0 0 50px;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

a, #site-title a:focus, #site-title a:hover, #site-title a:active, .entry-title a:hover, .entry-title a:focus, .entry-title a:active, .widget_twentyeleven_ephemera .comments-link a:hover, section.recent-posts .other-recent-posts a[rel="bookmark"]:hover, section.recent-posts .other-recent-posts .comments-link a:hover, .format-image footer.entry-meta a:hover, #site-generator a:hover {
  color: #41799E;
}

a, #site-title a:focus, #site-title a:hover, #site-title a:active, .entry-title a:hover, .entry-title a:focus, .entry-title a:active, .widget_twentyeleven_ephemera .comments-link a:hover, section.recent-posts .other-recent-posts a[rel="bookmark"]:hover, section.recent-posts .other-recent-posts .comments-link a:hover, .format-image footer.entry-meta a:hover, #site-generator a:hover {
  color: #41799E;
}

a {
  color: #41799E;
  text-decoration: none;
}
/*** Imported END ***/

#site-title a {
	/*letter-spacing:1.3em;*/
}

#site-description a {
	/*letter-spacing:0.2em;*/
}

#mitte {
	position:relative;
	min-height:400px;
	padding:20px 0px 0px 0px; 
	margin-left:20px;
	margin-top:0px;
	margin-bottom:0px;
	white-space:nowrap;
}

#mitte > div {
	display:inline-block;
	white-space:normal;
}

#unten {
	position:relative;
	padding:0px; 
	font-size:12px;
	margin-left:23px;
	margin-top:20px;
}

#content {
	position:relative;
	/*float:left;*/
	width:900px;
	margin-left:20px;
	margin-top:0px;
}

#mainframe_exp {
	position:relative;
	margin-left:25px;
	margin-bottom:0px;
}

td.termin {
	border-bottom:1px #6c91f8 solid;
	line-height:25px;
	padding-right:20px;
}

td:nth-child(4).termin,
td:nth-child(6).termin,
td:nth-child(7).termin {
	white-space: nowrap;
}

td:nth-child(7).termin {
	padding-right:0px;
}

td.termin > a > span.ui-icon,
#session_list > tbody > tr > td > a > span.ui-icon {
	float:left;
	margin:2px;
}

td.eintragen {
	line-height:25px;
}

td.ad_edit_headline {
	height:30px;
	padding:0px;
	vertical-align:top;
}


.del_exp {
	border-style: solid;
	border-width: 3px;
	border-color: #4A71D6;
	background-color: #003399;
	color:#6c91f8;
	visibility:hidden;
	position: absolute;
	text-align:center;
	line-height:normal;
	z-index: 2;
	top: 30%;
	left: 30%;
	width: 600px;
	height: 430px; 
}

a#mainframe_exp_link {
	font-family:Arial, Helvecita;
	font-weight:normal;
	color:#6c91f8;
	text-decoration:none;
}

a#mainframe_exp_link:hover {
	font-family:Arial, Helvecita;
	font-weight:normal;
	color:#9FCEFB;
	text-decoration:none;
}

a.menuitem_active:link,
a.menuitem_active:visited{
	color: #6C91F8;
}

a.menuitem_active:hover,
a.menuitem_active:active{
	color: #9FCEFB;
}
a.menuitem_inactive:link,
a.menuitem_inactive:visited{
	color: #A4A4A4;
}

a.menuitem_inactive:hover,
a.menuitem_inactive:active{
	color: #BDBDBD;
}

div#mitte h1 {
  color: #555555;
  text-decoration: none;
  clear: both;
  color: #555555;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.3em;
  padding-bottom: 0.3em;
  padding-top: 15px;
}

div#mitte h2, div#mitte h3, div#mitte h4, div#mitte h5, div#mitte h6 {
  color: #000000;
  font-weight: bold;
  margin: 0 0 0.8125em;
}

div#mitte h3 {
    background: url('../images/arrow.gif') 0 center no-repeat;
    position:relative;
    display: inline-block;
    padding-left:10px;
}

div#mitte h1, div#mitte h2, div#mitte h3, div#mitte h4, div#mitte h5, div#mitte h6 {
  clear: both;
}

div#login-box {
	position: relative;
	top: -22px;
	text-align: right;
	padding-right: 10px;
	color: #41799E;
	font-size: 12px;
}

div#login-box a#logout-link {
	font-size: 10px;
	font-style: italic;
}

td.termin > form > input.btn_send_msg {
	width:60px;
	padding:5px;
}

td.termin > form > input.edit_termin {
	width:70px;
	padding:5px;
}

td.termin > form > input.del {
	width:70px;
	padding:5px;
}

table#vp_list.dataTable thead .sorting,
table#vp_list.dataTable thead .sorting_asc,
table#vp_list.dataTable thead .sorting_desc {
	background: none;
}

table#session_list td:nth-child(5),
table#session_list th:nth-child(5),
table#session_list td:nth-child(7),
table#session_list th:nth-child(7) {
	overflow:hidden;
	white-space: nowrap;
}
 -->