AuthType Basic
AuthName "CORTEX Administration"
AuthUserFile/var/app/public/.htpasswd01

<Files "ad_exp_change.php">
require valid-user
</Files>

<Files "ad_exp_create.php">
require valid-user
</Files>

<Files "ad_exp_info.php">
require valid-user
</Files>

<Files "ad_termin_add.php">
require valid-user
</Files>

<Files "ad_termin_change.php">
require valid-user
</Files>

<Files "ad_vp_list.php">
require valid-user
</Files>

<Files "lab_index_frame.php">
require valid-user
</Files>

<Files "send_msg.php">
require valid-user
</Files>

<Files "vp_edit.php">
require valid-user
</Files>


<Files "mail.php">
require valid-user
</Files>

<Files "admin.php">
require valid-user
</Files>

<Files "create.php">
require valid-user
</Files>

<Files "vpview.php">
require valid-user
</Files>