AuthType Basic
AuthName "CORTEX Administration"
AuthUserFile/var/app/public/.htpasswd01

<Directory backend>
require valid-user
</Directory>

<Directory service>
require valid-user
</Directory>

<Files "admin.php">
require valid-user
</Files>

<Files "create.php">
require valid-user
</Files>

<Files "vpview.php">
require valid-user
</Files>

